.footer {
    width: 100%;
    height: 100px;
    margin-bottom: 0;
    /*inja*/
}

.flex-wrapper {
    min-height: calc(100vh - 203px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}