{% extends 'shared/_base.html' %}
{% load static %}
{% block title %}
    <title>quality control nealit</title>
{% endblock %}

{% block header_ref %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/lab_edit1.css' %}">
{% endblock %}


{% block content %}
    <form method="post">{% csrf_token %}
        <div>
            <div class="d-flex new-part">
                <div class="d-flex flex-column mt-2 mr-3 new-part">
                    <div>
                        <div class="test2 text-info text-center"><strong>کلی</strong></div>
                        <div class="d-flex flex-wrap bg-light pb-0">
                            <div class="d-inline-flex flex-wrap">
                                <div class="d-block m-1 p-0 flex-shrink-0">
                                    <label for="id_gas_consumption">شماره</label>
                                    <p>{{ form.number }}</p>
                                    {% for error in form.number.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="d-block m-1 p-0 flex-shrink-0">
                                    <label for="id_gas_consumption">ثبت کننده</label>
                                    <p>{{ form.author }}</p>
                                    {% for error in form.author.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="d-block m-1 p-0 flex-shrink-0">
                                    <label for="id_gas_consumption" >تاریخ</label>
                                    <p>{{ form.published_date }}</p>
                                    {% for error in form.published_date.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="test2 text-info text-center"><strong>blane</strong></div>
                        <div class="d-flex flex-wrap bg-light pb-0">
                            <div class="d-inline-flex flex-wrap">
                                <div class="d-block m-1 p-0 flex-shrink-0">
                                    <label for="id_gas_consumption">بلین</label>
                                    <p>{{ form.blane }}</p>
                                    {% for error in form.blane.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="d-block m-1 p-0 flex-shrink-0">
                                    <label for="id_gas_consumption">گیرش اولیه</label>
                                    <p>{{ form.initial_setting_time }}</p>
                                    {% for error in form.initial_setting_time.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="d-block m-1 p-0 flex-shrink-0">
                                    <label for="id_gas_consumption">گیرش ثانویه</label>
                                    <p>{{ form.final_setting_time }}</p>
                                    {% for error in form.final_setting_time.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div align="center">
            <button type="submit" class="btn-lg">Save</button>
        </div>
        <br>
    </form>
{% endblock %}
