{% load static %}
{% load render_partial %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block title %}
    {% endblock %}
    {% include 'shared/_headerCDN.html' %}
    {% block header_ref %}

    {% endblock %}
</head>
<body>

{% render_partial 'header' %}

<div class="flex-wrapper">
    {% block content %}
    {% endblock %}
</div>

{% render_partial 'footer' %}
{% include 'shared/_footerCDN.html' %}
{% block footer_ref %}{% endblock %}
</body>
</html>
