{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IG Portal Blog</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href={% static 'cdn/css/bootstrap.min.css' %}>
    <script src={% static 'cdn/js/bootstrap.min.js' %}></script>
    <script src={% static 'cdn/js/jquery.min.js' %}></script>
    <script src={% static 'cdn/js/popper.min.js' %}></script>
    <link rel="stylesheet" href={% static 'css/blog.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'fontawesome/css/all.css' %} />
    <link rel="icon" href="{% static 'img/K-LOGO.png' %}" type="image/png">
  </head>

    <body>
        <div class="page-header">
          {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><i class="fas fa-edit">New</i></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span>Draft List</span></a>
          {% endif %}
            <h1><a href="/">Iran Gatch Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
