{% extends 'shared/_base.html' %}
{% load static %}

{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/lab_edit1.css' %}">
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <div class="d-flex">
            <div class="d-flex flex-column mt-2 mr-3 hale">
                    <div class="test2 text-info text-center"><strong>تاریخ</strong></div>
                    <div class="d-flex flex-wrap bg-light pb-0">
                        <div class="d-inline-flex flex-wrap">
                            <div class="d-block m-1 p-0 flex-shrink-0">
                                <label for="id_date">تاریخ</label>
                                <p>{{ form.date }}</p>
                                {% for error in form.date.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="d-block m-1 p-0 flex-shrink-0">
                                <label for="id_day">روز</label>
                                <p>{{ form.day }}</p>
                                {% for error in form.day.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column mt-2 mr-3 hale">
                    <div class="test2 text-info text-center"><strong>مصرف انرژی</strong></div>
                    <div class="d-flex flex-wrap bg-light pb-0">
                        <div class="d-inline-flex flex-wrap">
                            <div class="d-block m-1 p-0 flex-shrink-0">
                                <label for="id_gas_consumption">مصرف گاز (متر مکعب)</label>
                                <p>{{ form.gas_consumption }}</p>
                                {% for error in form.gas_consumption.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="d-block m-1 p-0 flex-shrink-0">
                                <label for="id_elec_consumption">مصرف برق (کیلو وات)</label>
                                <p>{{ form.elec_consumption }}</p>
                                {% for error in form.elec_consumption.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="d-block m-1 p-0 flex-shrink-0">
                                <label for="id_gasoil_consumption">مصرف گازوئیل (لیتر)</label>
                                <p>{{ form.gasoil_consumption }}</p>
                                {% for error in form.gasoil_consumption.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-column mt-2 hale">
                    <div class="test2 text-info text-center"><strong>مصرف مواد اولیه</strong></div>
                    <div class="d-flex flex-wrap bg-light pb-0">
                        <div class="d-inline-flex flex-wrap">
                            <div class="d-block m-1 p-0">
                                <label for="id_block_stucco">مصرف گچ (تن)</label>
                                <p>{{ form.block_stucco }}</p>
                                {% for error in form.block_stucco.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="d-block m-1 p-0">
                                <label for="id_water_consumption">مصرف آب (لیتر)</label>
                                <p>{{ form.water_consumption }}</p>
                                {% for error in form.water_consumption.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column mt-2">
                <div class="test2 text-success text-center"><strong>تولید (متر مربع)
                </strong></div>
                <div class="d-flex flex-wrap bg-light pb-0">
                    <div class="d-inline-flex flex-wrap">
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block7_prod">بلوک 7 سانت</label>
                            <p>{{ form.block7_prod }}</p>
                            {% for error in form.block7_prod.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block8_prod">بلوک 8 سانت</label>
                            <p>{{ form.block8_prod }}</p>
                            {% for error in form.block8_prod.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block8mr_prod">بلوک 8 عایق</label>
                            <p>{{ form.block8mr_prod }}</p>
                            {% for error in form.block8mr_prod.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 total" style="">
                            <label for="id_total_block_prod">جمع کل</label>
                            <p>{{ form.total_block_prod }}</p>
                            {% for error in form.total_block_prod.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column mt-2">
                <div class="test2 text-success text-center"><strong>بسته بندی (متر مربع)</strong></div>
                <div class="d-flex flex-wrap bg-light pb-0">
                    <div class="d-inline-flex flex-wrap">
                        <div class="d-block m-1 p-0">
                            <label for="id_block7_packing">بلوک 7 سانت</label>
                            <p>{{ form.block7_packing }}</p>
                            {% for error in form.block7_packing.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0">
                            <label for="id_block8_packing">بلوک 8 سانت</label>
                            <p>{{ form.block8_packing }}</p>
                            {% for error in form.block8_packing.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block8mr_packing">بلوک 8 عایق</label>
                            <p>{{ form.block8mr_packing }}</p>
                            {% for error in form.block8mr_packing.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 total">
                            <label for="id_total_block_packing">جمع کل</label>
                            <p>{{ form.total_block_packing }}</p>
                            {% for error in form.total_block_packing.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column mt-2">
                <div class="test2 text-success text-center"><strong>ضایعات بسته بندی (متر مربع)</strong></div>
                <div class="d-flex flex-wrap bg-light pb-0">
                    <div class="d-inline-flex flex-wrap">
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block7_waste">بلوک 7 سانت</label>
                            <p>{{ form.block7_waste }}</p>
                            {% for error in form.block7_waste.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block8_waste">بلوک 8 سانت</label>
                            <p>{{ form.block8_waste }}</p>
                            {% for error in form.block8_waste.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block8mr_waste">بلوک 8 عایق</label>
                            <p>{{ form.block8mr_waste }}</p>
                            {% for error in form.block8mr_waste.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 total">
                            <label for="id_total_block_waste">جمع کل</label>
                            <p>{{ form.total_block_waste }}</p>
                            {% for error in form.total_block_waste.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column mt-1">
                <div class="test2 text-success text-center"><strong>کارکرد تجهیزات (ساعت)</strong></div>
                <div class="d-flex flex-wrap bg-light pb-0">
                    <div class="d-inline-flex flex-wrap">
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block7_operation">قالب 7 سانتی </label>
                            <p>{{ form.block7_operation }}</p>
                            {% for error in form.block7_operation.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block8_operation">قالب 8 سانتی </label>
                            <p>{{ form.block8_operation }}</p>
                            {% for error in form.block8_operation.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_dryer_operation">خشک کن</label>
                            <p>{{ form.dryer_operation }}</p>
                            {% for error in form.dryer_operation.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 total">
                            <label for="id_total_block_operation">جمع کل</label>
                            <p>{{ form.total_block_operation }}</p>
                            {% for error in form.total_block_operation.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column mt-1">
                <div class="test2 text-success text-center"><strong>موجودی محصولات (بلوک: متر مربع ، بتوگیپس: تعداد کیسه
                    30
                    کیلویی)</strong></div>
                <div class="d-flex flex-wrap bg-light pb-0">
                    <div class="d-inline-flex flex-wrap">
                        <div class="d-inline-flex flex-wrap label-bala mt-2 p-1 hale">
                            <div class="test2 text-success text-center w-100"><strong>بلوک 7 سانت</strong></div>
                            <div class="d-block m-1 p-0 flex-shrink-0 sols">
                                <label for="id_block7_packing_inventory">بسته بندی</label>
                                <p>{{ form.block7_packing_inventory }}</p>
                                {% for error in form.block7_packing_inventory.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="d-block m-1 p-0 flex-shrink-0 sols">
                                <label for="id_block8_dryer_inventory">خشک کن</label>
                                <p>{{ form.block8_dryer_inventory }}</p>
                                {% for error in form.block8_dryer_inventory.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="d-block m-1 p-0 flex-shrink-0 sols">
                                <label for="id_block7_rack_inventory">خشک باز</label>
                                <p>{{ form.block7_rack_inventory }}</p>
                                {% for error in form.block7_rack_inventory.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="d-inline-flex flex-wrap label-bala mt-2 p-1 hale">
                            <div class="test2 text-success text-center w-100"><strong>بلوک 8 سانت</strong></div>
                            <div class="d-block m-1 p-0 flex-shrink-0 sols">
                                <label for="id_block8mr_packing_inventory">بسته بندی</label>
                                <p>{{ form.block8mr_packing_inventory }}</p>
                                {% for error in form.block8mr_packing_inventory.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="d-block m-1 p-0 flex-shrink-0 sols">
                                <label for="id_block7_dryer_inventory">خشک کن</label>
                                <p>{{ form.block7_dryer_inventory }}</p>
                                {% for error in form.block7_dryer_inventory.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="d-block m-1 p-0 flex-shrink-0 sols">
                                <label for="id_block8mr_rack_inventory">خشک باز</label>
                                <p>{{ form.block8mr_rack_inventory }}</p>
                                {% for error in form.block8mr_rack_inventory.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="d-inline-flex flex-wrap label-bala mt-2 p-1 hale">
                            <div class="test2 text-success text-center w-100"><strong>بلوک 8 عایق</strong></div>
                            <div class="d-block m-1 p-0 flex-shrink-0 sols">
                                <label for="id_block8mr_packing_inventory">بسته بندی</label>
                                <p>{{ form.block8mr_packing_inventory }}</p>
                                {% for error in form.block8mr_packing_inventory.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="d-block m-1 p-0 flex-shrink-0 sols">
                                <label for="id_block7_dryer_inventory">خشک کن</label>
                                <p>{{ form.block7_dryer_inventory }}</p>
                                {% for error in form.block7_dryer_inventory.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="d-block m-1 p-0 flex-shrink-0 sols">
                                <label for="id_block8_rack_inventory">خشک باز</label>
                                <p>{{ form.block8_rack_inventory }}</p>
                                {% for error in form.block8_rack_inventory.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="d-inline-flex flex-wrap label-bala mt-2 p-1 hale">
                            <div class="test2 text-success text-center w-100"><strong>بتو گیپس</strong></div>
                            <div class="d-block m-1 p-0 flex-shrink-0 nesf">
                                <label for="id_betogips_inventory">بسته بندی</label>
                                <p>{{ form.betogips_inventory }}</p>
                                {% for error in form.betogips_inventory.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="d-block m-1 p-0 flex-shrink-0 nesf">
                                <label for="id_betogips_wased">خشک کن</label>
                                <p>{{ form.betogips_wased }}</p>
                                {% for error in form.betogips_wased.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column mt-1 hale">
                <div class="test2 text-danger text-center"><strong>میزان توقفات (ساعت)</strong>
                    <p class="text-success">قالب 7 سانتی</p></div>
                <div class="d-flex flex-wrap bg-light pb-0">
                    <div class="d-inline-flex flex-wrap label-bala mt-2 p-1 hale">
                        <div class="test2 text-success text-center w-100 font-size-coch"><strong>نوسازی یا تعمیرات بیش از 16
                            ساعت</strong></div>
                        <div class="d-block m-1 p-0 flex-shrink-0 nesf">
                            <label for="id_block7_mechanical16_stoppage">مکانیکال</label>
                            <p>{{ form.block7_mechanical16_stoppage }}</p>
                            {% for error in form.block7_mechanical16_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 nesf">
                            <label for="id_block7_electrical16_stoppage">الکتریکال</label>
                            <p>{{ form.block7_electrical16_stoppage }}</p>
                            {% for error in form.block7_electrical16_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-inline-flex flex-wrap label-bala mt-2 p-1 hale">
                        <div class="test2 text-success text-center w-100"><strong>تعمیرات کمتر از 16 ساعت</strong></div>
                        <div class="d-block m-1 p-0 flex-shrink-0 nesf">
                            <label for="id_block7_mechanical_stoppage">مکانیکال</label>
                            <p>{{ form.block7_mechanical_stoppage }}</p>
                            {% for error in form.block7_mechanical_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 nesf">
                            <label for="id_block7_electrical_stoppage">الکتریکال</label>
                            <p>{{ form.block7_electrical_stoppage }}</p>
                            {% for error in form.block7_electrical_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-inline-flex flex-wrap hale p-1">
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block7_rawmat_stoppage">مواد اولیه</label>
                            <p>{{ form.block7_rawmat_stoppage }}</p>
                            {% for error in form.block7_rawmat_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block7_operator_stoppage">نیروی انسانی</label>
                            <p>{{ form.block7_operator_stoppage }}</p>
                            {% for error in form.block7_operator_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block7_noNeeded_stoppage">عدم نیاز</label>
                            <p>{{ form.block7_noNeeded_stoppage }}</p>
                            {% for error in form.block7_noNeeded_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block7_rackFull_stoppage">کمبود فضای تولید</label>
                            <p>{{ form.block7_rackFull_stoppage }}</p>
                            {% for error in form.block7_rackFull_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-inline-flex flex-wrap label-bala mt-2 p-1 hale w100m">
                        <div class="test2 text-success text-center w-100"><strong>انرژی</strong></div>
                        <div class="d-block m-1 p-0 flex-shrink-0 sols">
                            <label for="id_block7_gasoil_stoppage">گازوئیل</label>
                            <p>{{ form.block7_gasoil_stoppage }}</p>
                            {% for error in form.block7_gasoil_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 sols">
                            <label for="id_block7_gas_stoppage">گاز</label>
                            <p>{{ form.block7_gas_stoppage }}</p>
                            {% for error in form.block7_gas_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 sols">
                            <label for="id_block7_elec_stoppage">برق</label>
                            <p>{{ form.block7_elec_stoppage }}</p>
                            {% for error in form.block7_elec_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                <div class="d-block m-1 p-0 flex-shrink-0 camel">
                            <label for="id_block7_total_stoppage">جمع توقفات</label>
                            <p>{{ form.block7_total_stoppage }}</p>
                            {% for error in form.block7_total_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                </div>
            </div>
        <div class="d-flex flex-column mt-1 hale">
                <div class="test2 text-danger text-center"><strong>میزان توقفات (ساعت)</strong>
                    <p class="text-success">قالب 8 سانتی</p></div>
                <div class="d-flex flex-wrap bg-light pb-0">
                    <div class="d-inline-flex flex-wrap label-bala mt-2 p-1 hale">
                        <div class="test2 text-success text-center w-100 font-size-coch"><strong>نوسازی یا تعمیرات بیش از 16
                            ساعت</strong></div>
                        <div class="d-block m-1 p-0 flex-shrink-0 nesf">
                            <label for="id_block8_mechanical16_stoppage">مکانیکال</label>
                            <p>{{ form.block8_mechanical16_stoppage }}</p>
                            {% for error in form.block8_mechanical16_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 nesf">
                            <label for="id_block8_electrical16_stoppage">الکتریکال</label>
                            <p>{{ form.block8_electrical16_stoppage }}</p>
                            {% for error in form.block8_electrical16_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-inline-flex flex-wrap label-bala mt-2 p-1 hale">
                        <div class="test2 text-success text-center w-100"><strong>تعمیرات کمتر از 16 ساعت</strong></div>
                        <div class="d-block m-1 p-0 flex-shrink-0 nesf">
                            <label for="id_block8_mechanical_stoppage">مکانیکال</label>
                            <p>{{ form.block8_mechanical_stoppage }}</p>
                            {% for error in form.block8_mechanical_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 nesf">
                            <label for="id_block8_electrical_stoppage">الکتریکال</label>
                            <p>{{ form.block8_electrical_stoppage }}</p>
                            {% for error in form.block8_electrical_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-inline-flex flex-wrap hale p-1">
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block8_rawmat_stoppage">مواد اولیه</label>
                            <p>{{ form.block8_rawmat_stoppage }}</p>
                            {% for error in form.block8_rawmat_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block8_operator_stoppage">نیروی انسانی</label>
                            <p>{{ form.block8_operator_stoppage }}</p>
                            {% for error in form.block8_operator_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block8_noNeeded_stoppage">عدم نیاز</label>
                            <p>{{ form.block8_noNeeded_stoppage }}</p>
                            {% for error in form.block8_noNeeded_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_block8_rackFull_stoppage">کمبود فضای تولید</label>
                            <p>{{ form.block8_rackFull_stoppage }}</p>
                            {% for error in form.block8_rackFull_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-inline-flex flex-wrap label-bala mt-2 p-1 hale w100m">
                        <div class="test2 text-success text-center w-100"><strong>انرژی</strong></div>
                        <div class="d-block m-1 p-0 flex-shrink-0 sols">
                            <label for="id_block8_gasoil_stoppage">گازوئیل</label>
                            <p>{{ form.block8_gasoil_stoppage }}</p>
                            {% for error in form.block8_gasoil_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 sols">
                            <label for="id_block8_gas_stoppage">گاز</label>
                            <p>{{ form.block8_gas_stoppage }}</p>
                            {% for error in form.block8_gas_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 sols">
                            <label for="id_block8_elec_stoppage">برق</label>
                            <p>{{ form.block8_elec_stoppage }}</p>
                            {% for error in form.block8_elec_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                <div class="d-block m-1 p-0 flex-shrink-0 camel">
                            <label for="id_block8_total_stoppage">جمع توقفات</label>
                            <p>{{ form.block8_total_stoppage }}</p>
                            {% for error in form.block8_total_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                </div>
            </div>
        <div class="d-flex flex-column mt-1 hale">
                <div class="test2 text-danger text-center"><strong>میزان توقفات (ساعت)</strong>
                    <p class="text-success">خشک کن</p></div>
                <div class="d-flex flex-wrap bg-light pb-0">
                    <div class="d-inline-flex flex-wrap label-bala mt-2 p-1 hale">
                        <div class="test2 text-success text-center w-100 font-size-coch"><strong>نوسازی یا تعمیرات بیش از 16
                            ساعت</strong></div>
                        <div class="d-block m-1 p-0 flex-shrink-0 nesf">
                            <label for="id_dryer_mechanical16_stoppage">مکانیکال</label>
                            <p>{{ form.dryer_mechanical16_stoppage }}</p>
                            {% for error in form.dryer_mechanical16_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 nesf">
                            <label for="id_dryer_electrical16_stoppage">الکتریکال</label>
                            <p>{{ form.dryer_electrical16_stoppage }}</p>
                            {% for error in form.dryer_electrical16_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-inline-flex flex-wrap label-bala mt-2 p-1 hale">
                        <div class="test2 text-success text-center w-100"><strong>تعمیرات کمتر از 16 ساعت</strong></div>
                        <div class="d-block m-1 p-0 flex-shrink-0 nesf">
                            <label for="id_dryer_mechanical_stoppage">مکانیکال</label>
                            <p>{{ form.dryer_mechanical_stoppage }}</p>
                            {% for error in form.dryer_mechanical_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 nesf">
                            <label for="id_dryer_electrical_stoppage">الکتریکال</label>
                            <p>{{ form.dryer_electrical_stoppage }}</p>
                            {% for error in form.dryer_electrical_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-inline-flex flex-wrap hale p-1">
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_dryer_rawmat_stoppage">مواد اولیه</label>
                            <p>{{ form.dryer_rawmat_stoppage }}</p>
                            {% for error in form.dryer_rawmat_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_dryer_operator_stoppage">نیروی انسانی</label>
                            <p>{{ form.dryer_operator_stoppage }}</p>
                            {% for error in form.dryer_operator_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_dryer_noNeeded_stoppage">عدم نیاز</label>
                            <p>{{ form.dryer_noNeeded_stoppage }}</p>
                            {% for error in form.dryer_noNeeded_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0">
                            <label for="id_dryer_rackFull_stoppage">کمبود فضای تولید</label>
                            <p>{{ form.dryer_rackFull_stoppage }}</p>
                            {% for error in form.dryer_rackFull_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-inline-flex flex-wrap label-bala mt-2 p-1 hale w100m">
                        <div class="test2 text-success text-center w-100"><strong>انرژی</strong></div>
                        <div class="d-block m-1 p-0 flex-shrink-0 sols">
                            <label for="id_dryer_gasoil_stoppage">گازوئیل</label>
                            <p>{{ form.dryer_gasoil_stoppage }}</p>
                            {% for error in form.dryer_gasoil_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 sols">
                            <label for="id_dryer_gas_stoppage">گاز</label>
                            <p>{{ form.dryer_gas_stoppage }}</p>
                            {% for error in form.dryer_gas_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-block m-1 p-0 flex-shrink-0 sols">
                            <label for="id_dryer_elec_stoppage">برق</label>
                            <p>{{ form.dryer_elec_stoppage }}</p>
                            {% for error in form.dryer_elec_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                <div class="d-block m-1 p-0 flex-shrink-0 camel">
                            <label for="id_dryer_total_stoppage">جمع توقفات</label>
                            <p>{{ form.dryer_total_stoppage }}</p>
                            {% for error in form.dryer_total_stoppage.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>

        <br>

        <div align="center">
            <button type="submit" class="btn-lg">Save</button>
        </div>
        <br>
    </form>
{% endblock %}

